<section class="about__page">
    <h1 class="title">Rick y Morty GraphQL APP</h1>
    <div class="about__container">
            <p class="about__paragraph">
                Proyecto de aprendizaje para agnlar 11 con GraphQL
                hecho por jesus hector iribe martinez
            </p>
            <figure class="about__img">
                <img src="../../../../../assets/imgs/web_dev.svg" alt="web_dev" class="about__picture"
                 rel="preload" as="image" width="406" height="306">
            </figure>
    </div>
    <p class="about__copy">
        Developed by <span class="text-white">Otamegane</span>
    </p>
</section>